body {
  /* This is the height of your identity container; might be dynamic! Offsets the sticky
     point of the navigation. */
  --nav-observer-offset: 32px;
}
@media only screen and (min-width: 1024px) {
  body {
    /* Offsets the stickiness point of the navigation on desktop! */
    --nav-observer-offset: 64px; /* Replace with desktop height of the new element! */
  }
}

.child-navigation-identity img {
  max-height: 64px;
  max-width: 80vw; 
  height: 100%;
  width: auto;
}
.child-navigation-identity {
  padding: 0 10px;
  margin: -5px auto 0;
  max-width: var(--site-width);
}
#full-navigation .main-navigation__background {
  top: unset;
  background: var(--navigation-background-sticky);
  min-height: var(--navigation-height); /* Must match the navigation! */
  opacity: 1;
}
footer .footer__wrapper{
	top: unset;
	background: var(--navigation-background-sticky);
	opacity: 1;
}

/* Modify the logo CSS with fixed height for desktop and mobile */


 /* For mobile devices, set a different fixed height */
/*.child-navigation-identity img {
  max-height: 40px; 
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .child-navigation-identity img {
    max-height: 64px; 
    width: auto;
  }
}*/
/* Adjust max-width based on --nav-observer-offset for sticky navigation */
/*.child-navigation-identity {
  padding: 0 10px;
  margin: 0 auto;
  max-width: calc(var(--site-width) - var(--nav-observer-offset));
} */

